############
## VIM
############

*.swp
$.swo

############
## Misc
############

#Gulp + Gulp output
node_modules/
public/

#Istanbul
coverage/

#SASS Cache
.sass-cache

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

*.scssc
